<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
/* Style the body */
body {
  font: 16px Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 10px;
  text-align: left;
  color: grey;
  background-color: black;
  font-size: 10px;
  color:white;
}
.header a:hover {
  color: grey;
}
.header a {
  float: right;
  color: #f2f2f2;

  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
</style>
</head>
<body>
  <div class="header">
      <div>
        <img src="{{url_for('static', filename='Logo.png')}}"  width="250" height="50" />
        <a href='http://52.172.191.77:5000/text_recipients'>Text Recipients</a>
        <a href='http://52.172.191.77:5000/extract_interface'>Extracts</a>
        <a href='http://52.172.191.77:5000/'>Bypass Tool</a>
      </div>
    </div>
    {% for i in names %}
    <button class="collapsible">{{i}}</button>

        <div class="content">
            <form method="post" id="Form_{{i}}">
            <p>All sites:
            {% for n in checkbox %}
            {% if n['Name']==i %}
                {% if (n['Name']==i and n['Status']==0 and n['Country']=='KH') %}
                    <input type="checkbox" value="All" name={{i}}_KH>KH</input>
                {% elif (n['Name']==i and n['Status']==1 and n['Country']=='KH') %}
                    <input type="checkbox" checked  value="All" name={{i}}_KH>KH</input>
                {% endif %}
                {% if (n['Name']==i and n['Status']==0 and n['Country']=='IN') %}
                    <input type="checkbox" value="All" name={{i}}_IN>IN</input>
                {% elif (n['Name']==i and n['Status']==1 and n['Country']=='IN') %}
                    <input type="checkbox" checked  value="All" name={{i}}_IN>IN</input>
                {% endif %}
                {% if (n['Name']==i and n['Status']==0 and n['Country']=='MY') %}
                    <input type="checkbox" value="All" name={{i}}_MY>MY</input>
                {% elif (n['Name']==i and n['Status']==1 and n['Country']=='MY') %}
                    <input type="checkbox" checked value="All" name={{i}}_MY>MY</input>
                {% endif %}
                {% if (n['Name']==i and n['Status']==0 and n['Country']=='SG') %}
                    <input type="checkbox" value="All" name={{i}}_SG>SG</input>
                {% elif (n['Name']==i and n['Status']==1 and n['Country']=='SG') %}
                    <input type="checkbox" checked value="All" name={{i}}_SG>SG</input>
                {% endif %}
                {% if (n['Name']==i and n['Status']==0 and n['Country']=='TH') %}
                    <input type="checkbox" value="All" name={{i}}_TH>TH</input>
                {% elif (n['Name']==i and n['Status']==1 and n['Country']=='TH') %}
                    <input type="checkbox" checked value="All" name={{i}}_TH>TH</input>
                {% endif %}
                {% if (n['Name']==i and n['Status']==0 and n['Country']=='VN') %}
                    <input type="checkbox" value="All" name={{i}}_VN>TH</input>
                {% elif (n['Name']==i and n['Status']==1 and n['Country']=='VN') %}
                    <input type="checkbox" checked value="All" name={{i}}_VN>VN</input>
                {% endif %}
            {% endif %}
            {% endfor %}
             <button type="button" style="float:right" id="Enable_{{i}}">Enable</button>
             <input type="password" style="float:right;margin-right:10px;width: 100px;" name="Key" placeholder="Secret Key"></input>
            </p>
             <p>Single Site:
             <select id={{i}}_Site name={{i}}_Site>
              <option disabled selected value>Select Site</option>
              {% for j in sites %}
              <option value={{j}}>{{j}}</option>
              {% endfor %}
            </select>
            <button type="button" style="float:right" id="Disable_{{i}}">Disable</button>
            </p>
        </form>
          </div>
   {% endfor %}



<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}

    

var submit_buttons = document.querySelectorAll('*[id^="Enable"]');
var disable_buttons = document.querySelectorAll('*[id^="Disable"]');
var forms = document.querySelectorAll('*[id^="Form"]');
console.log(forms)
for (i = 0; i < submit_buttons.length; ++i) {
    submit_buttons[i].onclick = EnableAlarm.bind(this, forms[i]);
    disable_buttons[i].onclick = DisableAlarm.bind(this, forms[i]);
}

function EnableAlarm(form){
    const FD = new FormData(form);
    const xhr = new XMLHttpRequest()
        xhr.open('POST', "http://52.172.191.77:5000/enable_alarm", false)
        xhr.send(FD)
        if (xhr.readyState === 4 && xhr.status === 200) {
            var JSON_received = JSON.parse(xhr.responseText);
            //handle received JSON here
            display2(JSON_received,event.srcElement.id)
        }
}

function DisableAlarm(form){
    const FD = new FormData(form);
    const xhr = new XMLHttpRequest()
        xhr.open('POST', "http://52.172.191.77:5000/disable_alarm", false)
        xhr.send(FD)
        if (xhr.readyState === 4 && xhr.status === 200) {
            var JSON_received = JSON.parse(xhr.responseText);
            //handle received JSON here
            display2(JSON_received,event.srcElement.id)
        }
}

function display2(result_list,id) {
        console.log(result_list[0])
        a=document.getElementById(id)
        if (result_list[0] == 'Enabled' | result_list[0] == 'Disabled') {
            a.setAttribute("style", "background-color:LightGreen");
            a.style.cssFloat = "right";
        } else {
            a.setAttribute("style", "background-color:#ffcccb")
            a.style.cssFloat = "right";
        }
    }


</script>

</body>
</html>